<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration SYSTEM "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="safeResultHandlerEnabled" value="true"></setting>
    </settings>
    <typeAliases>
        <typeAlias type="com.dimension.pojo.User" alias="User"/>
        <typeAlias type="com.dimension.pojo.BaseNode" alias="BaseNode"/>
        <typeAlias type="com.dimension.pojo.Basestation" alias="Basestation"/>
        <typeAlias type="com.dimension.pojo.Field" alias="Field"/>
        <typeAlias type="com.dimension.pojo.File" alias="File"/>
        <typeAlias type="com.dimension.pojo.Case" alias="Case"/>
        <typeAlias type="com.dimension.pojo.Group" alias="Group"/>
        <typeAlias type="com.dimension.pojo.GroupUser" alias="GroupUser"/>
        <typeAlias type="com.dimension.pojo.Message" alias="Message"/>
        <typeAlias type="com.dimension.pojo.Role" alias="Role"/>
        <typeAlias type="com.dimension.pojo.Table" alias="Table"/>
        <typeAlias type="com.dimension.pojo.Wifi" alias="Wifi"/>
        <typeAlias type="com.dimension.pojo.CaseNode" alias="CaseNode"/>
        <typeAlias type="com.dimension.pojo.Department" alias="Department"/>
        <typeAlias type="com.dimension.pojo.MarkNode" alias="MarkNode"/>
    </typeAliases>
</configuration>
