<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimension.dao.BasestationMapper">
  <resultMap id="BaseResultMap" type="com.dimension.pojo.Basestation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nodeId" jdbcType="BIGINT" property="nodeid" />
    <result column="carrier" jdbcType="VARCHAR" property="carrier" />
    <result column="mode" jdbcType="VARCHAR" property="mode" />
    <result column="ch" jdbcType="INTEGER" property="ch" />
    <result column="rssi" jdbcType="INTEGER" property="rssi" />
  </resultMap>
  <sql id="Base_Column_List">
    id, nodeId, carrier, mode, ch, rssi
  </sql>

  <insert id="insertSelective" parameterType="com.dimension.pojo.Basestation">
    insert into basestation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="nodeid != null">
        nodeId,
      </if>
      <if test="carrier != null">
        carrier,
      </if>
      <if test="mode != null">
        mode,
      </if>
      <if test="ch != null">
        ch,
      </if>
      <if test="rssi != null">
        rssi,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nodeid != null">
        #{nodeid,jdbcType=BIGINT},
      </if>
      <if test="carrier != null">
        #{carrier,jdbcType=VARCHAR},
      </if>
      <if test="mode != null">
        #{mode,jdbcType=VARCHAR},
      </if>
      <if test="ch != null">
        #{ch,jdbcType=INTEGER},
      </if>
      <if test="rssi != null">
        #{rssi,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

    <select id="getBasestationByNodeId" resultMap="BaseResultMap">
  select * from basestation where nodeId = #{nodeId,jdbcType=BIGINT}
  </select>
</mapper>