<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimension.dao.CaseMapper">
    <resultMap id="BaseResultMap" type="com.dimension.pojo.Case">
        <id column="Id" jdbcType="INTEGER" property="id"/>
        <result column="caseCode" jdbcType="VARCHAR" property="casecode"/>
        <result column="caseName" jdbcType="VARCHAR" property="casename"/>
        <result column="caseType" jdbcType="VARCHAR" property="casetype"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="groupId" jdbcType="INTEGER" property="groupid"/>
        <result column="beginTime" jdbcType="TIMESTAMP" property="begintime"/>
        <result column="endTime" jdbcType="TIMESTAMP" property="endtime"/>
        <result column="departmentId" jdbcType="BIGINT" property="departmentId"/>
    </resultMap>

    <sql id="Base_Column_List">
		Id, caseCode, caseName, caseType, description, groupId,
		beginTime,
		endTime,departmentId
	</sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `case`
        where Id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from `case`
		where Id = #{id,jdbcType=INTEGER}
	</delete>
    <insert id="insert" parameterType="com.dimension.pojo.Case">
		insert into `case` (Id,
		caseCode, caseName,
		caseType, description, groupId,
		beginTime, endTime,departmentId)
		values (#{id,jdbcType=INTEGER}, #{casecode,jdbcType=VARCHAR},
		#{casename,jdbcType=VARCHAR},
		#{casetype,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR}, #{groupid,jdbcType=INTEGER},
		#{begintime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP},#(departmentId,jdbcType=BIGINT))
	</insert>
    <insert id="insertSelective" parameterType="com.dimension.pojo.Case" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into `case`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                Id,
            </if>
            <if test="casecode != null">
                caseCode,
            </if>
            <if test="casename != null">
                caseName,
            </if>
            <if test="casetype != null">
                caseType,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="groupid != null">
                groupId,
            </if>
            <if test="begintime != null">
                beginTime,
            </if>
            <if test="endtime != null">
                endTime,
            </if>
            <if test="departmentId != null">
                departmentId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="casecode != null">
                #{casecode,jdbcType=VARCHAR},
            </if>
            <if test="casename != null">
                #{casename,jdbcType=VARCHAR},
            </if>
            <if test="casetype != null">
                #{casetype,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="groupid != null">
                #{groupid,jdbcType=INTEGER},
            </if>
            <if test="begintime != null">
                #{begintime,jdbcType=TIMESTAMP},
            </if>
            <if test="endtime != null">
                #{endtime,jdbcType=TIMESTAMP},
            </if>
            <if test="departmentId != null">
                #{departmentId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dimension.pojo.Case">
        update `case`
        <set>
            <if test="casecode != null">
                caseCode = #{casecode,jdbcType=VARCHAR},
            </if>
            <if test="casename != null">
                caseName = #{casename,jdbcType=VARCHAR},
            </if>
            <if test="casetype != null">
                caseType = #{casetype,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="groupid != null">
                groupId = #{groupid,jdbcType=INTEGER},
            </if>
            <if test="begintime != null">
                beginTime = #{begintime,jdbcType=TIMESTAMP},
            </if>
            <if test="endtime != null">
                endTime = #{endtime,jdbcType=TIMESTAMP},
            </if>
            <if test="departmentId != null">
                departmentId = #{departmentId,jdbcType=BIGINT}
            </if>
        </set>
        where Id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dimension.pojo.Case">
		update `case`
		set
		caseCode = #{casecode,jdbcType=VARCHAR},
		caseName =
		#{casename,jdbcType=VARCHAR},
		caseType = #{casetype,jdbcType=VARCHAR},
		description = #{description,jdbcType=VARCHAR},
		groupId =
		#{groupid,jdbcType=INTEGER},
		beginTime =
		#{begintime,jdbcType=TIMESTAMP},
		endTime =
		#{endtime,jdbcType=TIMESTAMP}
		departmentId =
		#{departmentId,jdbcType=BIGINT}
		where Id = #{id,jdbcType=INTEGER}
	</update>
    <!-- 能够编辑的案件 -->
    <select id="searchCasesEdited" resultType="com.dimension.pojo.Case">
        SELECT `case`.* ,1 as isEdited from `case`
        LEFT JOIN `group` on `case`.groupId=`group`.Id
        <trim prefix="where" prefixOverrides="and | or">

            <!-- 这里是固定的，也就是无论哪个角色都是一样的 -->
            <if test="casecode != null">
                and casecode like CONCAT('%',#{casecode},'%')
            </if>
            <if test="beginTime != null ">
                and begintime <![CDATA[ >= ]]>
                #{beginTime}
            </if>
            <if test="endTime != null">
                and endTime <![CDATA[ <= ]]>
                #{endTime}
            </if>
            <if test="casetype != null">
                and casetype like CONCAT('%',#{casetype},'%')
            </if>
            <if test="casename != null">
                and casename like CONCAT('%',#{casename},'%')
            </if>
            <!-- 这里是根据用户的角色和部门来的， -->
            <if test="roleId != null">
                <choose>
                    <!-- 普通业务员编辑 自己负责（组长）的案件 -->
                    <when test="roleId == 2">
                        <if test="grouperIds != null">
                            and groupId in
                            <foreach collection="grouperIds" item="groupId" open="("
                                     close=")" separator=",">
                                #{groupId}
                            </foreach>
                        </if>
                    </when>
                    <!-- 部门管理员 ，编辑自己部门的点位信息以及自己点位信息 -->
                    <when test="roleId == 4">
                        <if test="DpId != null">
                            and (departmentId=#{DpId} )
                        </if>
                    </when>
                    <!-- 超级管理员可以管理全部点位 -->
                </choose>
            </if>
        </trim>
    </select>
    <!-- 不能编辑的案件 -->
    <select id="searchCasesUnEdited" resultType="com.dimension.pojo.Case">
        SELECT `case`.* ,0 as isEdited from `case`
        LEFT JOIN `group` on `case`.groupId=`group`.Id
        <trim prefix="where" prefixOverrides="and | or">

            <if test="casecode != null">
                and casecode like CONCAT('%',#{casecode},'%')
            </if>
            <if test="beginTime != null ">
                and begintime <![CDATA[ >= ]]>
                #{beginTime}
            </if>
            <if test="endTime != null">
                and endTime <![CDATA[ <= ]]>
                #{endTime}
            </if>
            <if test="casetype != null">
                and casetype like CONCAT('%',#{casetype},'%')
            </if>
            <if test="casename != null">
                and casename like CONCAT('%',#{casename},'%')
            </if>
            <!-- 这里是根据用户的角色和部门来的， -->
            <if test="roleId != null">
                <choose>
                    <!-- 只能看不是自己负责的案件，但是自己是成员之一 -->
                    <when test="roleId == 2">
                        <if test="grouperIds != null">
                            and groupId in
                            <foreach collection="groupIds" item="groupId" open="("
                                     close=")" separator=",">
                                #{groupId}
                            </foreach>
                        </if>
                    </when>
                    <!-- 部门管理员 ，查看自己子部门的案件-->
                    <when test="roleId == 4">
                        <if test="DpIds != null">
                            departmentId in
                            <foreach collection="DpIds" item="subDp" open="(" close=")"
                                     separator=",">
                                #{subDp}
                            </foreach>
                        </if>
                    </when>
                    <!-- 超级管理员可以管理全部点位 -->
                </choose>
            </if>
        </trim>
    </select>

    <!--搜索本部门的案件信息-->
    <select id="searchCases" resultType="Case">
        select * from `case`
        <trim prefix="where" prefixOverrides="and | or">
            <if test="caseCondition.departmentid != null">
                and departmentid=#{caseCondition.departmentid}
            </if>
            <if test="caseCondition.casename != null">
                and casename like concat("%",#{caseCondition.casename},"%")
            </if>
            <if test="caseCondition.casetype != null">
                and casetype like concat("%",#{caseCondition.casetype},"%")
            </if>
        </trim>
        limit #{start},#{count}

    </select>
    <select id="count" resultType="int">
        select count(*) from `case`
        <trim prefix="where" prefixOverrides="and | or">
            <if test="caseCondition.departmentid != null">
                and departmentid=#{caseCondition.departmentid}
            </if>
            <if test="caseCondition.casename != null">
                and casename like concat("%",#{caseCondition.casename},"%")
            </if>
            <if test="caseCondition.casetype != null">
                and casetype like concat("%",#{caseCondition.casetype},"%")
            </if>
        </trim>

    </select>

</mapper>