<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimension.dao.CaseNodeMapper">
  <resultMap id="BaseResultMap" type="com.dimension.pojo.CaseNode">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="nodeId" jdbcType="BIGINT" property="nodeid" />
    <result column="record" jdbcType="VARCHAR" property="record" />
    <result column="caseId" jdbcType="INTEGER" property="caseid" />
    <result column="alarmId" jdbcType="INTEGER" property="alarmid" />
    <result column="baseNodeId" jdbcType="BIGINT" property="baseNodeId" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, nodeId, record, caseId, alarmId,baseNodeId
  </sql>
  <select id="getCaseNodeByNodeId" resultMap="BaseResultMap">
  select * from case_node
  where nodeId = #{nodeId,jdbcType=BIGINT}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from case_node
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    UPDATE  case_node set isvalid="0"
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="com.dimension.pojo.CaseNode">
    insert into case_node (Id, nodeId, record, 
      caseId, alarmId,baseNodeId)
    values (#{id,jdbcType=INTEGER}, #{nodeid,jdbcType=BIGINT}, #{record,jdbcType=VARCHAR}, 
      #{caseid,jdbcType=INTEGER}, #{alarmid,jdbcType=INTEGER}, #{baseNodeId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.dimension.pojo.CaseNode">
    insert into case_node
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="nodeid != null">
        nodeId,
      </if>
      <if test="record != null">
        record,
      </if>
      <if test="caseid != null">
        caseId,
      </if>
      <if test="alarmid != null">
        alarmId,
      </if>
      <if test="baseNodeId != null">
        baseNodeId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nodeid != null">
        #{nodeid,jdbcType=BIGINT},
      </if>
      <if test="record != null">
        #{record,jdbcType=VARCHAR},
      </if>
      <if test="caseid != null">
        #{caseid,jdbcType=INTEGER},
      </if>
      <if test="alarmid != null">
        #{alarmid,jdbcType=INTEGER},
      </if>
       <if test="baseNodeId != null">
        #{baseNodeId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dimension.pojo.CaseNode">
    update case_node
    <set>
      <if test="nodeid != null">
        nodeId = #{nodeid,jdbcType=BIGINT},
      </if>
      <if test="record != null">
        record = #{record,jdbcType=VARCHAR},
      </if>
      <if test="caseid != null">
        caseId = #{caseid,jdbcType=INTEGER},
      </if>
      <if test="alarmid != null">
        alarmId = #{alarmid,jdbcType=INTEGER},
      </if>
      <if test="baseNodeId != null">
        baseNodeId=#{baseNodeId,jdbcType=BIGINT},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dimension.pojo.CaseNode">
    update case_node
    set nodeId = #{nodeid,jdbcType=BIGINT},
      record = #{record,jdbcType=VARCHAR},
      caseId = #{caseid,jdbcType=INTEGER},
      alarmId = #{alarmid,jdbcType=INTEGER},
        baseNodeId=#{baseNodeId,jdbcType=BIGINT}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <select id="countByBaseNodeId" resultType="int">
    SELECT count(*) from case_node where basenodeid=#{nodeid}
  </select>
</mapper>