<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimension.dao.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.dimension.pojo.Department">
    <id column="Id" jdbcType="BIGINT" property="id" />
    <result column="longNumber" jdbcType="VARCHAR" property="longnumber" />
    <result column="departmentName" jdbcType="VARCHAR" property="departmentname" />
    <result column="departmentNumber" jdbcType="VARCHAR" property="departmentnumber" />
    <result column="isvalid" jdbcType="CHAR" property="isvalid" />
  </resultMap>

  <sql id="Base_Column_List">
    Id, longNumber, departmentName, departmentNumber, isvalid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from department
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from department
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dimension.pojo.Department">
    insert into department (Id, longNumber, departmentName, 
      departmentNumber, isvalid)
    values (#{id,jdbcType=BIGINT}, #{longnumber,jdbcType=VARCHAR}, #{departmentname,jdbcType=VARCHAR}, 
      #{departmentnumber,jdbcType=VARCHAR}, #{isvalid,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dimension.pojo.Department">
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="longnumber != null">
        longNumber,
      </if>
      <if test="departmentname != null">
        departmentName,
      </if>
      <if test="departmentnumber != null">
        departmentNumber,
      </if>
      <if test="isvalid != null">
        isvalid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="longnumber != null">
        #{longnumber,jdbcType=VARCHAR},
      </if>
      <if test="departmentname != null">
        #{departmentname,jdbcType=VARCHAR},
      </if>
      <if test="departmentnumber != null">
        #{departmentnumber,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null">
        #{isvalid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dimension.pojo.Department">
    update department
    <set>
      <if test="longnumber != null">
        longNumber = #{longnumber,jdbcType=VARCHAR},
      </if>
      <if test="departmentname != null">
        departmentName = #{departmentname,jdbcType=VARCHAR},
      </if>
      <if test="departmentnumber != null">
        departmentNumber = #{departmentnumber,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null">
        isvalid = #{isvalid,jdbcType=CHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dimension.pojo.Department">
    update department
    set longNumber = #{longnumber,jdbcType=VARCHAR},
      departmentName = #{departmentname,jdbcType=VARCHAR},
      departmentNumber = #{departmentnumber,jdbcType=VARCHAR},
      isvalid = #{isvalid,jdbcType=CHAR}
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <select id="subDepartment" resultType="com.dimension.pojo.Department">
    select * from department where longNumber like CONCAT(#{longnumber},"_%")
  </select>
  
  <select id="subPartDepartment" resultType="com.dimension.pojo.Department">
    select * from department where parentid=#{parentid}
  </select>
</mapper>