<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimension.dao.FieldMapper">
    <resultMap id="BaseResultMap" type="com.dimension.pojo.Field">
        <id column="Id" jdbcType="INTEGER" property="id"/>
        <result column="englishName" jdbcType="VARCHAR" property="englishname"/>
        <result column="chineseName" jdbcType="VARCHAR" property="chinesename"/>
        <result column="fieldType" jdbcType="VARCHAR" property="fieldtype"/>
        <result column="tableId" jdbcType="INTEGER" property="tableid"/>
        <result column="isvalid" jdbcType="CHAR" property="isvalid"/>
        <result column="regexid" jdbcType="INTEGER" property="regexid"/>
    </resultMap>
    <sql id="Base_Column_List">
    Id, englishName, chineseName, fieldType, tableId,isvalid
  </sql>
    <select id="getFieldByTableId" resultType="com.dimension.pojo.Field">
select field.*,`regexp`.id as 'regexp.id',regex as 'regexp.regex',description as 'regexp.description' from field
LEFT JOIN `regexp` on `regexp`.id=regexid
  where
  tableId = #{tableId}
  </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from field
        where Id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from field
    where Id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByTableId" parameterType="java.lang.Integer">
    delete from field
    where tableId = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.dimension.pojo.Field">
    insert into field (Id, englishName, chineseName, 
      fieldType, tableId)
    values (#{id,jdbcType=INTEGER}, #{englishname,jdbcType=VARCHAR}, #{chinesename,jdbcType=VARCHAR}, 
      #{fieldtype,jdbcType=VARCHAR}, #{tableid,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.dimension.pojo.Field" keyColumn="id" keyProperty="id"
            useGeneratedKeys="true">
        insert into field
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                Id,
            </if>
            <if test="englishname != null">
                englishName,
            </if>
            <if test="chinesename != null">
                chineseName,
            </if>
            <if test="fieldtype != null">
                fieldType,
            </if>
            <if test="tableid != null">
                tableId,
            </if>
            <if test="isvalid != null">
                isvalid,
            </if>
            <if test="regexid != null">
                regexid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="englishname != null">
                #{englishname,jdbcType=VARCHAR},
            </if>
            <if test="chinesename != null">
                #{chinesename,jdbcType=VARCHAR},
            </if>
            <if test="fieldtype != null">
                #{fieldtype,jdbcType=VARCHAR},
            </if>
            <if test="tableid != null">
                #{tableid,jdbcType=INTEGER},
            </if>
            <if test="isvalid != null">
                #{isvalid,jdbcType=CHAR},
            </if>
            <if test="regexid != null">
                #{regexid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dimension.pojo.Field">
        update field
        <set>
            <if test="englishname != null">
                englishName = #{englishname,jdbcType=VARCHAR},
            </if>
            <if test="chinesename != null">
                chineseName = #{chinesename,jdbcType=VARCHAR},
            </if>
            <if test="fieldtype != null">
                fieldType = #{fieldtype,jdbcType=VARCHAR},
            </if>
            <if test="tableid != null">
                tableId = #{tableid,jdbcType=INTEGER},
            </if>
            <if test="isvalid != null">
                isvalid = #{isvalid,jdbcType=CHAR},
            </if>
            <if test="regexid != null">
                regexid = #{regexid,jdbcType=INTEGER},
            </if>
        </set>
        where Id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dimension.pojo.Field">
    update field
    set englishName = #{englishname,jdbcType=VARCHAR},
      chineseName = #{chinesename,jdbcType=VARCHAR},
      fieldType = #{fieldtype,jdbcType=VARCHAR},
      tableId = #{tableid,jdbcType=INTEGER},
      isvalid = #{isvalid,jdbcType=CHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
    <select id="maxFieldId" parameterType="int" resultType="int">
    select max(id) from field where tableid=#{tableid};
  </select>
</mapper>