<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimension.dao.GroupMapper">
  <resultMap id="BaseResultMap" type="com.dimension.pojo.Group">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="groupName" jdbcType="VARCHAR" property="groupname" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="grouperId" jdbcType="INTEGER" property="grouperid" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, groupName, description, grouperId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `group`
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `group`
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dimension.pojo.Group" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    insert into `group` (Id, groupName, description,
      grouperId)
    values (#{id,jdbcType=INTEGER}, #{groupname,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{grouperid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dimension.pojo.Group" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    insert into `group`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="groupname != null">
        groupName,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="grouperid != null">
        grouperId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupname != null">
        #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="grouperid != null">
        #{grouperid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dimension.pojo.Group">
    update `group`
    <set>
      <if test="groupname != null">
        groupName = #{groupname,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="grouperid != null">
        grouperId = #{grouperid,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dimension.pojo.Group">
    update `group`
    set groupName = #{groupname,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      grouperId = #{grouperid,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>